<form method="post" action="/dashboard/album/{{_id}}" class="form" enctype="multipart/form-data">
    <h1 class="title">update album</h1>
    <label for="title" class="label">title</label>
    <input class="input" type="text" id="title" name="title" value="{{title}}">


    <label for="releaseDate" class="label">release date</label>
    <input class="input" type="date" id="releaseDate" name="releaseDate" value="{{formatDate releaseDate}}">

    <img class="preview" src="{{cover}}" alt="{{title}}'s cover image'">

    <label for="cover" class="label">
        choose a cover
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>
    <input class="is-hidden" type="file" id="cover" name="cover">


    <button class="btn">update</button>
</form>
