<form method="post" action="/dashboard/artist/{{_id}}" class="form" enctype="multipart/form-data">
    <h1 class="title">Update artist</h1>
    <label for="name" class="label">name</label>
    <input class="input" type="text" id="name" name="name" value="{{name}}">

    <label for="description" class="label">is a band ?
        {{#if isBand}}
        <input type="checkbox" name="isBand" checked>
        {{else}}
        <input type="checkbox" name="isBand">
        {{/if}}
    </label>
    <label for="picture" class="label">
        choose a picture
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>
    <input class="is-hidden" type="file" id="picture" name="picture">

    <img class="preview" src="{{picture}}" alt="{{name}}'s picture'">

    <label for="description" class="label">description</label>
    <textarea type="text" class="input" id="description" name="description">
        {{description}}
    </textarea>

    <button class="btn">update</button>
</form>