<form method="post" action="/dashboard/label/{{_id}}" enctype="multipart/form-data" class="form">
    <h1 class="title">Edit the new label</h1>
    <label class="label" for="name">label name</label>
    <input class="input" id="name" type="text" value="{{name}}" name="name">
    <label class="label" for="city">city</label>
    <input class="input" id="city" type="text" value="{{city}}" name="city">
    <label class="label" for="country">country</label>
    <input class="input" id="country" type="text" value="{{country}}" name="country">
    <label class="label" for="street">street</label>
    <input class="input" id="street" type="text" value="{{street}}" name="street">
    <label class="label" for="street-number">street number</label>
    <input class="input" id="street-number" type="number" value="{{streetNumber}}" name="streetNumber">
    <label class="label" for="zipcode">zipcode</label>
    <input class="input" id="zipcode" type="text" value="{{zipcode}}" name="zipcode">
    <label class="label" for="logo">
        <span>label's logo</span>
        <i class="icon fas fa-cloud-upload-alt fa-2x"></i>
    </label>

    <img class="preview" src="{{logo}}" alt="{{name}}'s logo'">

    <hr>

    <input class="is-hidden" id="logo" type="file" name="logo">
    <button class="btn">update</button>
</form>