<h1>artist details</h1>
{{name}}
<p>
    is a <a class="link" href="{{style.wikiURL}}" style="color: {{style.color}}" target="_blank">{{style.name}}</a>
    {{#if isBand}}band {{else}}artist{{/if}}
</p>

{{style}}
<img src="{{picture}}" alt="{{name}}'s picture">